{% extends 'partials/base.html'%}
{% block title%}Loan Payment Plan{% endblock%}

{% block content %}

<div class="content-wrapper col-lg-9.9 "  >          


<!-- Content Header (Page header) -->
<section class="content-header"><h1>Loan Repayment Schedule <small><a href="#" target="_blank">Help</a></small></h1>
</section>

<!-- Main content -->
<section class="content">
<p> Borrower : {{FullName}}</p>
<p><mark><b>Loan Principal Balance: {{lap|floatformat:2}}</b></mark></p>
<p><mark><b>Loan due Amount: {{laDue|floatformat:2}}</b></mark></p>
<p>Repayment Cycle: {{lp_count}} </p>

<div class="row">
<div class="col-xs-6">
<div class="pull-left">
    <div id="export_button">
    <div class="dt-buttons btn-group">
        <button class="btn btn-default buttons-collection" tabindex="0" aria-controls="view-loans" type="button" aria-haspopup="true" aria-expanded="false">
            <span>Export Data for this page</span>
        </button> 
    </div>
</div>
</div>
</div>

</div>              
<div class="box box-info">
<div class="row" style="margin-right:0.2%;margin-left:0.2%;margin-top: 1%;">
<div class="col-sm-12 table-responsive">
<div id="view-loans_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="pull-left">
        <div id="view-loans_filter" class="dataTables_filter">
            <label>
                <input type="search" class="form-control input-sm" placeholder="Search loans" aria-controls="view-loans">
            </label>
        </div>
    </div>
        <div class="pull-right">
            <div class="dataTables_length" id="view-loans_length">
                <label>Show 
                    <select name="view-loans_length" aria-controls="view-loans" class="form-control input-sm">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="250">250</option>
                        <option value="500">500</option>
                        <option value="2500">2500 (Slow)</option>
                    </select> entries
                </label>
            </div>
        </div>
        <table id="view-loans" class="table table-condensed table-hover dataTable" style="width: 100%;" role="grid" aria-describedby="view-loans_info">
            <thead>
            <tr style="background-color: #D1F9FF" role="row">
                <th>
                    Loan no:
                </th><th>
                    Full Name
                </th><th>
                    Payment Date
                </th><th >
                    Interest
                </th><th >
                    Principal Payment
                </th><th>
                    Payment Amount:
                </th><th>
                    Balance
                </th><th>
                    Status
                </th><th>
                    Receipts
                </th>
                </tr>
            </thead>
    
   
<tbody style="white-space: nowrap;">
    {% for item in page_obj %}
    <tr role="row" class="odd">
    <td>
    <a class="badge badge-secondary" href="#">{{loan_no}}
    </a>
    </td>
    <td><a class="badge badge-secondary" href="#"><b>{{FullName}}</b></a></td>
    <td>{{item.paymentDate}}</td>
    <td class=" text-right">{{item.interest|floatformat:2}}</td>
    <td class=" text-right">{{item.principlePayment|floatformat:2}}</td>
    <td class=" text-right">{{item.MonthlyPayment|floatformat:2}}</td>
    <td class=" text-right">{{item.balance|floatformat:2}}</td>
    <td><span class="label label-primary">{{item.status}}</span></td>
    <td>
        <a class="btn btn-info btn-sm" href="#"><span class="glyphicon glyphicon-sunglasses"></span> Payments</a>
    </td>
    </tr>
    {% endfor %}
</tbody>
</table>
<div class="dataTables_info" id="view-loans_info" role="status" aria-live="polite">Showing {{ page_obj.number }} of {{ paginator.num_pages }} entries</div>
<div class="dataTables_paginate paging_simple_numbers" id="view-loans_paginate" style="margin-left: 10px;">
    <ul class="pagination">
        
        {% if page_obj.has_previous %}
        <li class="page-item">
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Previous</a>
            </li>
        {% endif %}
      
      <li class="page-item active">
        <span class="current-page">{{ page_obj.number }}</span>
      </li>
      
        {% if page_obj.has_next %}
        <li class="page-item">
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
            </li>
        {% endif %}
      
      </ul>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript" language="javascript">

$(document).ready(function() {

var dataTable = $('#view-loans').DataTable( {
"dom": '<"pull-left"f>r<"pull-right"l>tip',"order": [0, 'desc'],
"fixedHeader": {
"header": true
},
"autoWidth": true,
"lengthMenu": [[20, 50, 100, 250, 500, 2500], [20, 50, 100, 250, 500, "2500 (Slow)"]],
"iDisplayLength": 20,
"processing": true,
"serverSide": true,
"language": {
"processing": "<img src='https://x.loandisk.com/images/ajax-loader.gif'> Processing..",
"searchPlaceholder": "Search loans",
"emptyTable": "No data found. To add a loan, visit <b>Loans</b>(left menu) --- <b>Add Loan</b>",
search: ""
},
"columnDefs": [ 
{
    "targets": [0,9,10], // column or columns numbers
    "orderable": false
},

{
     className: "text-right", 
     "targets": [ 4,5,6,7,8 ] 
}
],
"ajax":{
url :"https://x.loandisk.com/loans/process_loans.php?page_current=view_loans_branch", // json datasource
type: "post",  // method  , by default get
error: function(){  // error handling
    $(".view-loans-error").html("");
    $("#view-loans").append('<tbody class="borrowers-list-error"><tr><th colspan="3">No data found in the server</th></tr></tbody>');
    $("#view-loans-processing").css("display","none");
    
}
},
stateSave: false,
"footerCallback": function ( row, data, start, end, display ) {
var api = this.api(), data;
var sumVal = function (nStr, inD, outD, sep)
{
    nStr += '';
    var dpos = nStr.indexOf(inD);
    var nStrEnd = '';
    if (dpos != -1) {
        nStrEnd = outD + nStr.substring(dpos + 1, nStr.length);
        nStr = nStr.substring(0, dpos);
    }
    var rgx = /(\d+)(\d{3})/;
    while (rgx.test(nStr)) {
        nStr = nStr.replace(rgx, '$1' + sep + '$2');
    }
    return nStr + nStrEnd;
};
// Remove the formatting to get integer data for summation
var intVal = function ( i ) {
    if (typeof i === 'string'){
        i = i.replace(/[\$,]|<(\w+)\b[^<>]*>[\s\S]*?<\/\1>|<br\s*[\/]?>/g, '');
        i = i.replace(/[\$.]|<(\w+)\b[^<>]*>[\s\S]*?<\/\1>|<br\s*[\/]?>/g, '.');
        i = i * 1;
        
        return i;
    }
    else if (typeof i === 'number') {
    
        return i;
    }
    else {
        return 0;
    }
};
// Total over this page
pageTotal4 = api
    .column( 4, { page: 'current'} )
    .data()
    .reduce( function (a, b) {
        return intVal(a) + intVal(b);
    }, 0 );

// Update footer
var ss = ''+pageTotal4.toFixed(2).toString() +'';
ss = sumVal(ss, ".", ".", ",");
$( api.column( 4 ).footer() ).html(ss +'');
// Total over this page
pageTotal6 = api
    .column( 6, { page: 'current'} )
    .data()
    .reduce( function (a, b) {
        return intVal(a) + intVal(b);
    }, 0 );

// Update footer
var ss = ''+pageTotal6.toFixed(2).toString() +'';
ss = sumVal(ss, ".", ".", ",");
$( api.column( 6 ).footer() ).html(ss +'');
// Total over this page
pageTotal7 = api
    .column( 7, { page: 'current'} )
    .data()
    .reduce( function (a, b) {
        return intVal(a) + intVal(b);
    }, 0 );

// Update footer
var ss = ''+pageTotal7.toFixed(2).toString() +'';
ss = sumVal(ss, ".", ".", ",");
$( api.column( 7 ).footer() ).html(ss +'');
// Total over this page
pageTotal8 = api
    .column( 8, { page: 'current'} )
    .data()
    .reduce( function (a, b) {
        return intVal(a) + intVal(b);
    }, 0 );

// Update footer
var ss = ''+pageTotal8.toFixed(2).toString() +'';
ss = sumVal(ss, ".", ".", ",");
$( api.column( 8 ).footer() ).html(ss +'');
}
} );

var buttons = new $.fn.dataTable.Buttons(dataTable, {
buttons: 
[
{
    extend: 'collection',
    text: 'Export Data for this page',
    buttons: [
        {
            text: 'Print',
            extend: 'print',
            exportOptions: {
                columns: ':visible:not(.not-export-col)'
            },
            footer: true
        },
        {
            text: 'Copy',
            extend: 'copyHtml5',
            exportOptions: {
                columns: ':visible:not(.not-export-col)'
            },
            footer: true
        },
        {
            text: 'Excel',
            extend: 'excelHtml5',
            exportOptions: {
                columns: ':visible:not(.not-export-col)'
            },
            footer: true
        },
        {
            text: 'CSV',
            extend: 'csvHtml5',
            exportOptions: {
                columns: ':visible:not(.not-export-col)'
            },
            footer: true
        }
    ]
}
]
}).container().appendTo($('#export_button'));
} );
</script>
<div class="well well-sm"><small>Please note that this is just a table showing all the loans. It does not mean that they are actually due. For example, loans that are <b>Processing</b>, <b>Denied</b>, <b>Not Taken Up</b>, and <b>Defaulted</b> will show due values here. But in Reports and Accounting(left menu), they will not be counted.</small></div>

<script>
$( "#pre_loader" ).hide();

</script>

</section>
</div>

{% endblock %}