{% extends 'partials/base.html'%}
{% block title%}Payment receipts Page{% endblock%}


{% block content %}
{% if cl %}
<!--Table-->
<div class="container" >
    <div class="row my-2">
        <div class="col-md-8">
          
          <form class="form-inline" role="search" method="POST">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="accountReference" name="search_query" required aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <table class="table bg-white " style="white-space: nowrap;">
              <thead class="bg-secondary text-white">
                <tr>
                    <th>accountReference</th>
                    <th>paidAmount </th>
                    <th>paymentDate </th>
                    <th>transactionId </th>
                    <th>phoneNumber </th>
                    <th>fullName</th>
                    <th>invoiceName</th>
                    <th>externalReference</th>
                    <th>status</th>      
                  </tr>
                </thead>
                <tbody>
                  {% for receipt in cl %}
                    <tr>
                      <td>{{ receipt.accountReference }}</td>
                      <td>{{ receipt.paidAmount }}</td>
                      <td>{{ receipt.paymentDate }}</td>
                      <td>{{ receipt.transactionId }}</td>
                      <td>{{ receipt.phoneNumber }}</td>
                      <td>{{ receipt.fullName }}</td>
                      <td>{{receipt.invoiceName}}</td>
                      <td>{{receipt.externalReference}}</td>
                      <td>{{receipt.status}}</td>  
                      {% if receipt.status == 'unclaimed' %}   
                      <td>
                        <a class="btn btn-info btn-sm" href="{% url 'dashboard-claimat' receipt.id %}" >Make a Claim</a>
                      </td>  
                      {% endif %} 
                    </tr>
                  {% endfor %}
            </tbody>
            </table>
            <div class="pagination">
              {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
              {% endif %}
            
              <span class="current-page">{{ page_obj.number }}</span>
            
              {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">Next</a>
              {% endif %}
            </div>
        </div>
    </div>  
  </div>
{% else %}
<div class="card-body">
  <div class="row">
      <div class="col-md-4">
          <a class="text-decoration-none text-dark">
              <div class="card my-card shadow text-center p-3" style="background-color:rgb(248, 233, 28);">
                  <h4>No object Found <i class="fas fa-users"></i></h4>
                  
              </div>
          </a>
      </div></div></div>
{% endif %}

{% endblock %}