{% extends 'partials/base.html' %}
{% block title %} Member Update Page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            {% if messages %}
        {% for message in messages %}
        <p class="text-success" {% if message.tags %} {% endif %} >{{ message }}</p>
        
        {% endfor %}
    
    {% endif %}
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    Member Profile Page
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="h4"> Profile Information</span>
                            <hr>
                            <form method="post" enctype="multipart/form-data">
                               {% csrf_token %}  
                               {{ form|crispy }} 
                            <input class="btn btn-info" type="submit" value="Update">
                            <a class="btn btn-secondary" href="{% url 'user-view-member' %}">Cancel</a>
                            </form>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}